*{
	font-family: 'Times New Roman', Times, serif;
}

#heading{
	text-align: center;
	font-size: 52px;
	color: ;
}

#ism{
	position: fixed;
	height: 50px;
	border: 0px white solid;
    /*background-image: linear-gradient(orange,white,green);*/
    margin: 20px 0 0 20px;
	padding: 10px;
	top: 0;
}

#ism:hover{
    background-image: none;
    background-image: linear-gradient(orange,white,green);
    height: 65px;
    padding: 20x;
}

#vicon{
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	opacity: 0.12;
}

p#wmark{
	font-family: cursive;
	font-size: 20px;
	color: gray;
	opacity: 0.59;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 30px;
}

div a#cat{
	text-decoration: none;
	color: rgb(0,0,0);
	font-size: 25px;
	padding-left: 50px;
}



