*{
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
}



form{
	position: relative;
	top: 100px;
	left: 25%;
	padding: 20px;
	margin-right: 330px;
/*	margin: 10% 25%;*/
	border: 2px white solid;
	height: 220px;
	width: 600px;
	background-color: rgb(226, 215, 215);
}

#button{
	position: relative;
	left: 82%;
}