*{
	font-family: 'Times New Roman', Times, serif;
}

#heading{
	text-align: center;
	font-size: 52px;
	color: ;
}

#ism{
	position: fixed;
	height: 50px;
	border: 0px white solid;
    background-image: linear-gradient(orange,white,green);
    margin: 20px 0 0 20px;
	padding: 10px;
	top: 0;
}

#ism:hover{
    background-image: none;
    height: 65px;
    padding: 0; 
}

div#wmark{
	font-family: cursive;
	font-size: 50px;
	color: gray;
	opacity: 0.5;
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 30px;
}

#vicon{
	text-align: center;
	opacity: 0.12;
}




