.chessboard {
    width: 640px;
    height: 640px;
    margin: 50px 25%;
    border: 25px solid #333;
}

.black,.white{
    float: left;
    width: 80px;
    height: 80px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}